<!doctype html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:fragment="html_head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- SimpleLightbox CSS & JS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.0/simple-lightbox.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/product.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <!-- Bootstrap icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- favicon-->
    <link rel="icon" type="image/png" th:href="@{/asset/favicon.png}" />
    <title>Admin Dashboard | Warehouse Management System</title>
  </head>
  <body class="app-page">
    <!--navbar start-->
    <nav
      th:fragment="navbar"
      class="navbar custom-navbar navbar-expand-lg px-3"
    >
      <div class="container-fluid d-flex align-items-center">
        <div class="d-flex align-items-center">
          <button
            class="btn p-0 border-0 me-2"
            id="sidebarToggle"
            type="button"
            style="width: auto"
          >
            <i class="bi bi-list fs-4"></i>
          </button>

          <a class="navbar-brand m-0" th:href="@{/}">
            <img
              th:src="@{/asset/text-logo.png}"
              alt="SmartStock"
              style="height: 32px"
            />
          </a>
        </div>

        <!-- Right side -->
        <div class="d-flex align-items-center">
          <!-- 🔔 Notification -->
          <div class="dropdown me-3">
            <a
              class="nav-link position-relative"
              th:href="@{/notifications}"
              role="button"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-bell fs-5"></i>

              <!-- Badge -->
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                3
              </span>
            </a>

            <!-- Dropdown -->
            <ul class="dropdown-menu dropdown-menu-end">
              <li><h6 class="dropdown-header">Thông báo</h6></li>
              <li><a class="dropdown-item" href="#">Đơn hàng mới</a></li>
              <li><a class="dropdown-item" href="#">Có người đăng ký</a></li>
              <li><a class="dropdown-item" href="#">Hệ thống cập nhật</a></li>
            </ul>
          </div>

          <!-- 👤 User -->
          <div class="acc-dropdown">
            <a
              class="d-flex align-items-center text-decoration-none dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                th:src="${currentUserAvatar}"
                class="rounded-circle me-2 shadow-sm"
                style="width: 35px; height: 35px; object-fit: cover"
              />
              <div class="acc-text">
                <span
                  id="acc-name"
                  class="fw-bold text-dark"
                  sec:authentication="name"
                  >User</span
                >
              </div>
            </a>

            <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 mt-2">
              <li>
                <a class="dropdown-item py-2" th:href="@{/accounts/profile}"
                  ><i class="bi bi-person-circle me-2 text-secondary"></i>Hồ Sơ
                  Cá Nhân</a
                >
              </li>
              <li>
                <a class="dropdown-item py-2" href="#"
                  ><i class="bi bi-gear me-2 text-secondary"></i>Cài Đặt</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item text-danger py-2 fw-bold"
                  th:href="@{/logout}"
                  id="log-out"
                >
                  <i class="bi bi-box-arrow-right me-2"></i>Đăng Xuất
                </a>
              </li>
            </ul>
          </div>
          <!-- User end-->
        </div>
      </div>
    </nav>
    <!--navbar end-->
    <!--menu start-->
    <div class="container-fluid p-0 d-flex">
      <div
        th:fragment="sidebar"
        id="bdSidebar"
        class="d-flex flex-column flex-shrink-0 p-3 overflow-y-auto text-white offcanvas-md offcanvas-start h-100"
        style="width: 280px"
      >
        <a href="#" class="navbar-brand text-white fs-4 fw-bold m-0 brand-text"
          >Menu List</a
        >
        <hr />
        <ul class="mynav nav nav-pills flex-column mb-auto">
          <li class="nav-item mb-1">
            <a th:href="@{/}"
              ><i class="fa-solid fa-chart-line"></i> Thống Kê</a
            >
          </li>

          <li class="sidebar-item nav-item mb-1">
            <a
              class="sidebar-link collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#warehouse-collapse"
              aria-expanded="false"
            >
              <i class="fa-solid fa-warehouse"></i>
              <span class="topic">Quản Lý Kho </span>
            </a>
            <ul
              id="warehouse-collapse"
              class="sidebar-dropdown list-unstyled collapse ps-3"
            >
              <li class="sidebar-item">
                <a th:href="@{/products/view}" class="sidebar-link">
                  <i class="fa-solid fa-box-open me-2"></i> Danh Mục Sản Phẩm
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/batches/view}" class="sidebar-link">
                  <i class="fa-solid fa-layer-group me-2"></i> Quản lý Lô Hàng
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/locations/view}" class="sidebar-link">
                  <i class="fa-solid fa-map-location-dot me-2"></i> Vị Trí / Kệ
                  hàng
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/warehouses/view}" class="sidebar-link">
                  <i class="fa-solid fa-map-location-dot me-2"></i> Nhà Kho
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-item nav-item mb-1">
            <a
              class="sidebar-link collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#order-collapse"
              aria-expanded="false"
            >
              <i class="fa-solid fa-file-invoice-dollar"></i>
              <span class="topic">Đơn Hàng</span>
            </a>
            <ul
              id="order-collapse"
              class="sidebar-dropdown list-unstyled collapse ps-3"
            >
              <li class="sidebar-item">
                <a th:href="@{/purchases/view}" class="sidebar-link">
                  <i class="fa-solid fa-cart-arrow-down me-2"></i> Đơn Nhập Hàng
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/sales/view}" class="sidebar-link">
                  <i class="fa-solid fa-money-bill-trend-up me-2"></i> Đơn Bán
                  Hàng
                </a>
              </li>

              <hr class="text-white-50 my-2 mx-3" />

              <li class="sidebar-item">
                <a
                  th:href="@{/rma/check-serial}"
                  class="sidebar-link text-warning"
                >
                  <i class="fa-solid fa-magnifying-glass-barcode me-2"></i> Tra
                  cứu Serial
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  th:href="@{/rma/warranties}"
                  class="sidebar-link text-warning"
                >
                  <i class="fa-solid fa-rotate-left me-2"></i> Bảo Hành
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-item nav-item mb-1">
            <a
              class="sidebar-link collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#partner-collapse"
              aria-expanded="false"
            >
              <i class="fa-solid fa-handshake"></i>
              <span class="topic">Đối Tác</span>
            </a>
            <ul
              id="partner-collapse"
              class="sidebar-dropdown list-unstyled collapse ps-3"
            >
              <li class="sidebar-item">
                <a th:href="@{/suppliers/view}" class="sidebar-link">
                  <i class="fa-solid fa-truck-front me-2"></i> Nhà Cung Cấp
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/customers/view}" class="sidebar-link">
                  <i class="fa-solid fa-users me-2"></i> Khách Hàng
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-item nav-item mb-1">
            <a
              class="sidebar-link collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#account-collapse"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user-gear"></i>
              <span class="topic">Tài Khoản</span>
            </a>
            <ul
              id="account-collapse"
              class="sidebar-dropdown list-unstyled collapse ps-3"
            >
              <li class="sidebar-item" sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/accounts/manage}" class="sidebar-link">
                  <i class="fa-solid fa-users-gear me-2"></i> Quản Lý
                </a>
              </li>
              <li class="sidebar-item">
                <a th:href="@{/accounts/profile}" class="sidebar-link">
                  <i class="fa-solid fa-address-card me-2"></i> Hồ Sơ
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <hr />
        <div class="mynav">
          <a
            th:href="@{/logout}"
            id="log-out"
            class="d-flex align-items-center logout-link text-danger fw-bold"
          >
            <i class="fas fa-sign-out-alt"></i>
            <span>Đăng Xuất</span>
          </a>
        </div>
      </div>
    </div>
    <!--menu end-->
    <!--custom-->
  </body>
</html>
